<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" bootstrap="vendor/autoload.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
      <directory>src</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <clover outputFile="./coverage/clover.xml"/>
      <html outputDirectory="./coverage"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">src</directory>
    </exclude>
  </source>
</phpunit>
